
.header {
    padding: 10px 10px;
    position: sticky;
    top: 0;
    background: #555;
    color: #f1f1f1;
    border-bottom: 3px solid #f79800;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    align-content: center;
}

body {
  margin: 0 0 0 0;
  background-color: #333333;
  font-family: Arial;
  /*font-family: Arial, Helvetica, sans-serif;*/
}

footer {
  padding: 10px 10px;
  background: #555;
  bottom: 0;
  color: #f1f1f1;
}

.headerbutton {
  display: block;
  color: #f79800;
  background-color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: right;
  margin: 3px;
}

.headerbutton:hover {
  background-color: #ddd;
  color: black;
}

/*header clear fix */
.headerbutton::after {
  content: "";
  clear: both;
  display: table;
}

.contentarea {
  padding: 5% 20% 5% 20%;
  overflow: auto;
}

.singlecontentbox {
  background-color: #ededed;
  margin: 20px;
  float : left;
}

.doublecontentbox {
  background-color: #ededed;
  margin: 20px;
  overflow: hidden;
}

/*singlecontennt clear fix */
.singlecontentbox::after {
  content: "";
  clear: both;
  display: table;
}

.contentboxheader {
  width: 1%;
  height: 50px;
  background-color: #f79800;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.contentboxbody {
  padding: 10px;
}

header {
  width: 1%; height: 300px;
  background-color: #f79800;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.skillbox {
  width: auto;
  height: 30%;
  padding: 5px;
  margin: 5px;
  text-align: left;
  font-size: 28px;
  overflow: auto;
  border-bottom: 2px solid #f79800;
}

.skillbox p {
  overflow: hidden;
}

.skillbox img {
  max-width:100px;
  margin-right: 20px;
  width: auto;
  height: auto;
  background-color:#f79800;
  float:left;
}

.skillbox img::after {
  content: "";
  clear: both;
  display: table;
}

#avatarimg {
  max-width:230px;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}